.container {
    text-align: center;
    width: 340px;
    margin: 90px auto 0px auto;
    border: 3px solid hsl(0, 0%, 55%);
    border-radius: 35px;
    width: 425px;
    padding: 10px 10px 10px 10px;
}

.error-code {
    font-size: 60px;
    margin: 15px 0 0 0;
}

.error-msg {
    font-size: 50px;
    margin: 12px 0px;
}

.homepage-link-box {
    text-align: center;
    margin: 30px 0 25px 0px;
}

.homepage-link {
    color: hsl(198, 74%, 95%);
    text-decoration: none;
    font-size: 28px;
}

.homepage-link:hover {
    color: hsl(192, 100%, 64%);
}