.search-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 65px;
}

.find-song-txt {
    margin: 0 auto;
    margin-bottom: 17px;
}

.form-grid {
    display: grid;
    grid-template-columns: 412px 35px 35px;
    align-items: center;
    justify-content: center;
}

.search-input {
    height: 30px;
    width: 385px;
    font-size: 19px;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 0;
    margin: 0 auto;
}

.search-input:focus {
    outline: none;
    background: hsl(0, 0%, 95%);
}

.search-icon, .delete-results-icon {
    width: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.search-icon:hover, .delete-results-icon:hover {
    filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(165deg);
}

.search-icon:focus, .delete-results-icon:focus {
    outline: none;
}

.search-icon:active, .delete-results-icon:active {
    transform: scale(.92);
}

.results-container {
    text-align: center;
    width: 340px;
    margin: 35px auto 0px auto;

    border: 1px solid hsl(0, 0%, 55%);
    border-radius: 35px;
    width: 525px;
    padding: 15px 15px 10px 15px;
}

.results-header {
    margin: 0 auto;
    margin-bottom: 15px;
}

.list-grid {
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 51px auto;
    margin: 0 0 12px 0;
    align-items: center;
    justify-items: start;
    margin-left: 8px;
}

.add-icon {
    width: 20px;
    padding-left: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.add-icon:hover {
    filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(165deg);
}

.add-icon:focus {
    outline: none;
}

.add-icon:active {
    transform: scale(.92);
  }

.song-info-container {
    text-align: left;
}

.song-info-title {
    color: hsl(192, 100%, 64%);
}

.song-link {
    color: hsl(198, 74%, 95%);
    text-decoration: none;
}

.song-link:hover {
    color: hsl(54, 92%, 77%);
}