.add-playlists-container {
    text-align: center;
    width: 340px;
    margin: 65px auto 0px auto;
}

.add-playlists-txt {
    margin: 0 auto;
    margin-bottom: 17px;
}

.form-grid {
    display: grid;
    grid-template-columns: 280px 35px;
    align-items: center;
    justify-content: center;
}

.playlists-input {
    height: 30px;
    width: 260px;
    font-size: 19px;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 0;
    margin: 0 auto;
}

.playlists-input:focus {
    outline: none;
    background: hsl(0, 0%, 95%);
}

.add-icon {
    width: 28px;
    padding-left: 3px;
    transition: all 0.3s;
}

.add-icon:hover, .delete-icon:hover {
    filter: brightness(15) sepia(1) saturate(2000%) hue-rotate(165deg);
}

.add-icon:focus, .delete-icon:focus {
    outline: none;
}

.add-icon:active, .delete-icon:active {
    transform: scale(.92);
  }

.playlists-container {
    text-align: center;
    width: 340px;
    margin: 65px auto 0px auto;

    border: 1px solid hsl(0, 0%, 55%);
    border-radius: 35px;
    width: 415px;
    padding: 15px 15px 10px 15px;
}

.playlists-header {
    margin: 0 auto;
    margin-bottom: 15px;
}

/* Link element */
.playlist-link, .no-playlists-txt {
    text-decoration: none;
    color: hsl(192, 100%, 64%);
}

.playlist-link:hover {
    color: rgb(238, 237, 237);
}

.no-playlists-txt {
    margin: 0 0 14px 0;
    text-align: center;
}

.playlist:hover {
    color: hsla(0, 0%, 87%, 0.801);
}

.list-grid {
    display: grid;
    text-transform: uppercase;
    grid-template-columns: auto 85px;
    margin: 16px 0;
    align-items: center;
}

ul {
    margin: 0 auto;
}

.delete-icon {
    width: 18px;
    transition: all 0.3s;
    cursor: pointer;
    margin-left: 43px;
}

.playlist-error-txt {
    text-align: center;
    margin: 0 0 23px 0;
    color: hsl(66, 100%, 71%);
}